Theory Questions

In [ ]:
'''1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data so that they can be used efficiently.
Importance: They help in faster data access, efficient memory usage, and better algorithm performance (e.g., searching, sorting).'''

In [ ]:
'''2. Explain the difference between mutable and immutable data types with examples.

Mutable: Can be changed after creation.
Example → list, dict, set

a = [1, 2, 3]
a.append(4)  # changes allowed


Immutable: Cannot be changed after creation.
Example → tuple, string

b = "hello"
# b[0] = 'H' → not allowed'''

In [ ]:
'''3. What are the main differences between lists and tuples in Python?

| Feature     | List              | Tuple              |
| ----------- | ----------------- | ------------------ |
| Mutability  | Mutable           | Immutable          |
| Syntax      | `[]`              | `()`               |
| Performance | Slower            | Faster             |
| Use case    | When data changes | When data is fixed |'''

In [ ]:
'''4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs using a hashing mechanism.
Each key is unique and acts as an index to its value.
Example:'''

student = {'name': 'Alice', 'age': 20}

In [ ]:
'''5. Why might you use a set instead of a list in Python?

-To remove duplicate values automatically.
-For faster membership checking (in operation).
-For mathematical operations like union, intersection, and difference'''

In [ ]:
'''6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters enclosed in quotes (' ' or " ").
Difference:
-Strings are immutable; lists are mutable.
-String elements must be characters, while lists can hold different data types.'''

In [ ]:
'''7. How do tuples ensure data integrity in Python?

Tuples are immutable, meaning their values cannot be changed after creation.
This prevents accidental modification and helps preserve data integrity.'''

In [ ]:
'''8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function.
Python’s dictionary is implemented internally using a hash table.'''

In [ ]:
'''9. Can lists contain different data types in Python?

Yes. A list can store elements of different data types, including numbers, strings, and even other lists.
Example:
my_list = [10, "hello", 3.14, [1, 2]]'''

In [ ]:
'''10. Explain why strings are immutable in Python.

Strings are immutable for memory efficiency and security.
When modified, a new string object is created instead of changing the original'''

In [ ]:
'''11. What advantages do dictionaries offer over lists for certain tasks?

-Faster lookup using keys.
-Clear key-value mapping.
-Ideal for structured data (like student records or JSON-like data).'''

In [ ]:
'''12. Describe a scenario where using a tuple would be preferable over a list.

When you want to store fixed data that should not change — e.g., days of the week:
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
'''

In [ ]:
'''13. How do sets handle duplicate values in Python?

Sets automatically remove duplicates.
Example:'''

s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

In [ ]:

'''14. How does the “in” keyword work differently for lists and dictionaries?

For lists, it checks if an element exists.

2 in [1,2,3] → True


For dictionaries, it checks if a key exists.

'name' in {'name': 'Alice'} → True'''

In [ ]:


'''15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify tuple elements because tuples are immutable.
Once created, their elements cannot be changed, added, or removed.'''

In [ ]:

'''16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary inside another dictionary.
Example:

student = {
  'name': 'Alice',
  'grades': {'math': 90, 'science': 85}
}'''

In [ ]:
'''17. Describe the time complexity of accessing elements in a dictionary.

Accessing an element in a dictionary is O(1) (constant time) on average, due to hashing'''

In [ ]:
'''18. In what situations are lists preferred over dictionaries?

-When order matters.
-When you only need values (not key-value pairs).
-For sequential data (e.g., processing items in order).'''

In [ ]:
'''19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Before Python 3.7, dictionaries were unordered; now they preserve insertion order but conceptually remain key-based, not index-based.
You can’t access items by position, only by key.'''

In [ ]:
'''20. Explain the difference between a list and a dictionary in terms of data retrieval
| Feature       | List                         | Dictionary          |
| ------------- | ---------------------------- | ------------------- |
| Access method | By index                     | By key              |
| Speed         | Slower for lookups           | Faster (hash-based) |
| Data type     | Ordered collection of values | Key-value pairs     |'''

Practical **Questions**

In [ ]:
'''
1. Write a code to create a string with your name and print it'''
sting="nikita"
sting

'nikita'

In [ ]:

'''2. Write a code to find the length of the string "Hello World".'''
text="Hello World"
print(len(text))

11

In [ ]:
'''3. Write a code to slice the first 3 characters from the string "Python Programming".'''

text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
'''4. Write a code to convert the string "hello" to uppercase.'''

text = "hello"
print(text.upper())

HELLO

In [ ]:
'''5. Write a code to replace the word "apple" with "orange" in the string "I like apple".'''

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [ ]:
'''6. Write a code to create a list with numbers 1 to 5 and print it.'''

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
'''7. Write a code to append the number 10 to the list [1, 2, 3, 4].'''

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:

'''8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].'''

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
'''9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].'''

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
'''10. Write a code to reverse the list [10, 20, 30, 40, 50].'''

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
'''11. Write a code to create a tuple with the elements 100, 200, and 300 and print it.'''

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [ ]:
'''12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').'''

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
'''13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).'''

tup = (10, 20, 5, 15)
print(min(tup))

5

In [ ]:
'''14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
'''15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.'''

fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

In [ ]:
'''16. Write a code to create a set with the elements {'a', 'b', 'c'} and print it.'''

s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [ ]:
'''17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.'''

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
'''18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.'''

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
'''19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.'''

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
'''20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.'''

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
'''21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.'''

person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:

'''22. Write a code to add a new key–value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.'''

person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:

'''23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.'''

person = {"name": "Alice", "age": 30}
print(person["name"])

Alice

In [ ]:
'''24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.'''

person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
'''25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.'''

person = {"name": "Alice", "city": "Paris"}
print("city" in person)

True

In [ ]:

'''26. Write a code to create a list, a tuple, and a dictionary, and print them all.'''

lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {"a": 1, "b": 2}
print(lst)
print(tup)
print(dic)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [ ]:

'''27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
'''
numbers=[34,56,45,78,12]
numbers.sort()
print(numbers)

[12, 34, 45, 56, 78]

In [ ]:

'''28. Write a code to create a list with strings and print the element at the third index.'''

lst = ["apple", "banana", "cherry", "date", "grape"]
print(lst[3])

date

In [ ]:

'''29. Write a code to combine two dictionaries into one and print the result.'''

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:

'''30. Write a code to convert a list of strings into a set.'''

lst = ["apple", "banana", "cherry", "apple"]
print(set(lst))

{'cherry', 'banana', 'apple'}